<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" /></head><body><div class="v20_35"><span class="v1_19">         My Work!</span><div class="v1_20"></div><span class="v1_21">Contact me: katiecutter9@gmail.com
Copyright 2022</span><div class="v1_22"><div class="v1_23"></div></div><div class="v1_24"><div class="v1_25"></div></div><span class="v1_26">Rescueme.org Redesign</span><span class="v1_27">Piggyback App</span><div class="v1_28"></div><span class="v1_29">An easy to use app designed for finding savings! </span><span class="v1_30">Redesign of a non-profit pet rescue website to promote ease of use. </span><div class="v1_31"></div><span class="v1_32">Learn more ></span><span class="v1_33">Learn more ></span><div class="v1_34"></div><div class="v1_35"><div class="name"></div><div class="v1_37"></div><div class="v1_38"><div class="name"></div><div class="name"></div></div></div><span class="v1_41">KC</span></div></body></html> <br/><br/> <style>* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v20_35 {
  width: 100%;
  height: 1480px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_19 {
  width: 878px;
  color: rgba(87,70,109,1);
  position: absolute;
  top: 189px;
  left: 197px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v1_20 {
  width: 100%;
  height: 101px;
  background: rgba(87,70,109,1);
  opacity: 1;
  position: absolute;
  top: 1379px;
  left: 0px;
  box-shadow: 0px 0px 20px rgba(0.007843137718737125, 0.250980406999588, 0.3490196168422699, 0.30000001192092896);
  overflow: hidden;
}
.v1_21 {
  width: 495px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1407px;
  left: 316px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v1_22 {
  width: 100%;
  height: 434px;
  background: url("../images/v1_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 1px;
  overflow: hidden;
}
.v1_23 {
  width: 100%;
  height: 434px;
  background: rgba(246,221,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_24 {
  width: 100%;
  height: 434px;
  background: url("../images/v1_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 818px;
  left: 1px;
  overflow: hidden;
}
.v1_25 {
  width: 100%;
  height: 434px;
  background: rgba(246,221,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_26 {
  width: 678px;
  color: rgba(87,70,109,1);
  position: absolute;
  top: 361px;
  left: 68px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_27 {
  width: 556px;
  color: rgba(87,70,109,1);
  position: absolute;
  top: 845px;
  left: 68px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_28 {
  width: 668px;
  height: 397px;
  background: url("../images/v1_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 361px;
  left: 586px;
  overflow: hidden;
}
.v1_29 {
  width: 608px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 941px;
  left: 68px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_30 {
  width: 608px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 438px;
  left: 68px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1_31 {
  width: 325px;
  height: 434px;
  background: url("../images/v1_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 818px;
  left: 763px;
  overflow: hidden;
}
.v1_32 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 646px;
  left: 60px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1_33 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1126px;
  left: 49px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1_34 {
  width: 100%;
  height: 515px;
  background: url("../images/v1_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 915px;
  left: 23px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v1_35 {
  width: 100%;
  height: 129px;
  background: url("../images/v1_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_37 {
  width: 100%;
  height: 101px;
  background: rgba(87,70,109,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 20px rgba(0.007843137718737125, 0.250980406999588, 0.3490196168422699, 0.30000001192092896);
  overflow: hidden;
}
.v1_38 {
  width: 357px;
  height: 58px;
  background: url("../images/v1_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 880px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_41 {
  width: 121px;
  color: rgba(243,219,251,1);
  position: absolute;
  top: 26px;
  left: 29px;
  font-family: Poppins;
  font-weight: Bold Italic;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
@media screen (max-width: 600) {
  
}
</style>