.navigation {
    background-color:#57466D;
}
.heroImg {
color:#57466D;
background-color: #FFFFFF;
position:center;
text

}
.inline-block {
font-family: 'Poppins';
font-style: italic;
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #F3DBFB;
background-color: #57466D;
list-style-type: none;
}

.inline-block li {
    display: inline-block;
    padding-left: 75px;
}

.headernav {
    font-family: 'Poppins';
    font-style: normal;
    text-align: right;
    color: #FFFFFF;
    font-size: 22px;
   
}
.footernav{
    text-align: center;
    color: white;
    background-color: #57466D;
}
.footernav li {
    list-style-type: none;
}